@media only screen and (max-width: 768px) { /* tablet screens and lower*/
    /* start of navbar */
    .navbar .toggle-btn {
        display: flex;
    }
    .navbar {
        
        height: min-content;
        min-height: 43px;
        padding: 16px 0;
        
    }

    .navbar .navbar-links {
        display: none;
        background-color: #212529;
        width: 100%;
    }

    .navbar .navbar-links.active {
        display: flex;
    }

    .navbar .toggle-btn {
        top: 16px;
        right: 5%;
    }

    .navbar .navbar-content {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        min-height: 43px;
        justify-content: center;
    }

    .navbar .navbar-links > ul{
        width: 100%;
        flex-direction: column;
        margin-top: 16px;
    }
    /* end of navbar */

    /* start of profile page section */
    .profile-content .profile-img-boxes {
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: 242px;
    }
    /* end of profile page section */

    /* start of about section */
    .about-txt-wrapper {
        flex-direction: column;
        align-items: center;
    }

    .about-txt-wrapper .about-txt-left, .about-txt-wrapper .about-txt-right {
        margin: 0;
    }
    /* end of about section */
}

@media only screen and (max-width: 360px) { /* phone */
    /* start navbar */
    .navbar .brand-name a {
        font-size: 20px;
        font-weight: 700;
        color: #fff;
        text-decoration: none;
    }
    /* end navbar */
    /* start hero section */
    .title {
        font-size: 44px;
    }

    .hero-content .hero-txt {
        font-size: 20px;
        text-align: center;
    }
    /* end hero section */
    

    /* start of profile page section */
    .profile-content .profile-img-boxes {
        grid-template-columns: 1fr;
        grid-auto-rows: 242px;
    }
    /* end of profile page section */
    
}