.navbar{
    width: 100%;
    height: 72px;
    padding: 8px 0;
    background-color: #212529;
    text-transform: uppercase;
    position: fixed;
    top: 0px;
    left: 0px;
}

.navbar .navbar-content {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .brand-name a {
    font-size: 24px;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
}

.navbar .navbar-links > ul{
    display: flex;
    gap:30px;
    
    cursor: pointer;
}

.navbar .navbar-links > ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: 700;
}

.navbar .navbar-links > ul li:hover a {
    color:#1abc9c;
}

/* toggle btn */
.navbar .toggle-btn {
    display: none;
    text-decoration: none;
    font-size: 14px;
    position: absolute;
    top: 8px;
    right: 5%;
}

.toggle-btn .toggle-btn-content {
    display: flex;
    background-color: #1abc9c;
    padding: 12px;
    border-radius: 15px;
    color: #fff;
    font-weight: 100;
    gap: 5px;
}

.hamburger {
    display: flex;
    margin: auto 0;
    flex-direction: column;
    justify-content: space-between;
    height: 12px;
    width: 14px;

}

.hamburger span {
    width: 100%;
    height: 2px;
    border-radius: 10px;
    background-color: #fff;
}

@media only screen and (max-width: 768px) {
    .navbar .toggle-btn {
        display: flex;
    }
    .navbar {
        
        height: min-content;
        min-height: 43px;
        padding: 16px 0;
        
    }

    .navbar .navbar-links {
        display: none;
        background-color: #212529;
        width: 100%;
    }

    .navbar .navbar-links.active {
        display: flex;
    }

    .navbar .toggle-btn {
        top: 16px;
        right: 5%;
    }

    .navbar .navbar-content {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        min-height: 43px;
        justify-content: center;
    }

    .navbar .navbar-links > ul{
        width: 100%;
        flex-direction: column;
        margin-top: 16px;
    }
    

}