.profile-page {

    padding: 96px 0;
}

.profile-content {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.profile-content .profile-title {
    font-size: 64px;
    text-align: center;
}

.profile-content .star-box {
    justify-content: center;
}

.profile-content .profile-img-boxes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 289px;
    row-gap: 48px;
    column-gap: 32px;
    justify-content: center;
}

.profile-content .profile-img-boxes div {
    position: relative;
}

.profile-content .profile-img-boxes div img {
    border-radius: 5px;
    cursor: pointer;
    display: block;
    width: 100%;
}

.profile-content .profile-img-boxes div:hover .profile-img-hover {
    opacity: 1;
}

.profile-img-hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(26, 188, 156, 0.8);
    opacity: 0;
    transition: .5s ease;
}