* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
}

/* utilities */
.section {
    width: 90%;
    margin: 0 auto;
}

img {
    height: 100%;
}

.indigo-color {
    color: #212529 !important;
}

.bg-indigo-color {
    background-color: #212529 !important;
}
